<header class="header">
    <nav class="navbar navbar-expand-lg overflow-hidden">
        <div class="container py-3">
            <a class="navbar-brand" routerLink="/home">MIMOCODES</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars text-light"></i>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
    
                    <li class="nav-item">
                        <a class="nav-link" (click)="closeNavbar()" routerLink="/home"
                            routerLinkActive="active-link">Home</a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link" (click)="closeNavbar()" routerLink="/about"
                            routerLinkActive="active-link">About</a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link" (click)="closeNavbar()" routerLink="/services"
                            routerLinkActive="active-link">Services</a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link" (click)="closeNavbar()" routerLink="/pricing"
                            routerLinkActive="active-link">Pricing</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" (click)="closeNavbar()" routerLink="/contact"
                            routerLinkActive="active-link">Contact US</a>
                    </li>
    
    
                </ul>
            </div>
        </div>
    
    </nav>
</header>