<!-- Hero Section -->
<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1">
                <h1>Better Solutions For Your Business</h1>
                <p>We build custom software that allows businesses to meet their needs and constraints.</p>

                <div class="demo-form">
                    <input type="email" placeholder="Your Email" class="email-input">
                    <a href="#about" class="get-demo-btn">Get a demo</a>
                </div>

            </div>

            <div class="col-lg-6 d-flex justify-content-center order-1 order-lg-2">
                <img src="assets/images/home-img.svg" alt="">
            </div>


        </div>

    </div>

</section>