/*==============Global Variables==================*/
$primaryBackground:#021327;
$secondaryBackground:#031b36;
$colorAccent:#61CE70;
$colorAccentDark:#3abb4b;
$colorWhite:#fff;
$colorBlack:#000;
$lightGray:#B1B5D3;
$btnBg:#3C67FF;
$formInputBg:#00202F;